sourceDir = "~/dotfiles"
mode = "symlink"
encryption = "gpg"

[data]
    email = "samzilverberg@gmail.com"

[git]
    autoPush = false

[diff]
    exclude = ["scripts"]

[gpg]
    recipient = "EB5713EA51C7E33B65897D3B0D60C8D1D8163A87"