{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
brew "git"
brew "gnupg2"
brew "wget"
brew "httpie"
brew "jq"
brew "fish"
brew "fisher"
brew "starship"
brew "zoxide"
brew "zsh"
brew "mise"
brew "bat"
brew "eza"
brew "the_silver_searcher"
brew "pinentry-mac"
brew "gopass"
brew "coreutils"
brew "ffmpeg"
brew "yt-dlp"
brew "kubernetes-cli"
brew "k9s"
brew "helm"
brew "awscli"
cask "1password"
cask "1password-cli"
cask "iterm2"
cask "firefox"
cask "google-chrome"
cask "bettertouchtool"
cask "docker"
cask "dropbox"
cask "font-hack-nerd-font"
cask "font-meslo-lg-nerd-font"
cask "karabiner-elements"
cask "obsidian"
cask "qlmarkdown"
cask "qlstephen"
cask "qlcolorcode"
cask "quicklook-json"
cask "raycast"
cask "shottr"
cask "spotify"
cask "syncthing"
cask "veracrypt"
cask "virtualbox"
cask "visual-studio-code"
cask "webstorm"
cask "zen-browser"
cask "zoom"
cask "google-cloud-sdk"
EOF
{{ end -}}