# NOTE: dont edit this file directly
# instead edit the template in chezmoi/.chezmoitemplates/ssh_config

Host github
  HostName github.com
  IdentityFile ~/.ssh/payzen_priv
  IdentitiesOnly yes
  AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin" }}
  UseKeychain    yes
{{- end }}

Host bitbucket
  HostName bitbucket.org
  IdentityFile ~/.ssh/bitbucket_priv
  IdentitiesOnly yes
  AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin" }}
  UseKeychain    yes
{{- end }}

Host *
  IgnoreUnknown UseKeychain
