#!/usr/bin/env bash

{{ if eq .chezmoi.os "darwin" }}
# install package manager (brew) and gain access to secrets (1pass)

if [[ ! $(command -v brew) ]]; then
    header "🍺  Installing Homebrew"
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

if [[ ! $(command -v op) ]] || [[ ! $(command -v fish) ]]; then
    brew bundle --file=/dev/stdin <<EOF
brew "fish"
brew "git"
brew "gnupg2"
brew "pinentry-mac"
cask "1password-cli"
cask "1password"
EOF
fi

# set fish as shell default shell, might need to logout -> login after
echo $SHELL | grep -q -v fish && echo "fish is not the default shell, changing it"
echo $SHELL | grep -q -v fish && chsh -s $(which fish) && echo "LOGOUT+LOGIN is required for fish to work"
if ! grep -q fish /etc/shells; then
  echo "fish is not the shells list, adding it"
  echo $(which fish) | sudo tee -a /etc/shells
fi
# this replaces the manual 
# "system settings -> Users and Groups -> unlock -> ctrl + click username -> advanced -> put full path of fish in \"Login shell\"
dscl . -read /Users/$USER UserShell | grep -q -v fish && sudo dscl . -create /Users/$USER UserShell $(which fish)

{{ end -}}

if ! op account list | grep -q samzilverberg; then
  # TODO echo with RED color
  printf '
  =====================================================================
  not logged in to 1pass.
  open 1pass, login and enable cli integration from settings->developer
  =====================================================================
  '
  exit 1
else
  echo "logged in to 1pass, can continue"
fi
